@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
}

.header {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 6.64062vh;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  margin-right: 3.90625vh;
}

.burger span {
  position: relative;
  display: inline-block;
  width: 1.125vw;
  height: 0.19531vh;
  border-radius: 0.1875vw;
  background-color: #ffffff;
}

.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-0.3125vw);
          transform: translateY(-0.3125vw);
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.burger span::after {
  -webkit-transform: translateY(0.3125vw);
          transform: translateY(0.3125vw);
}

.logo {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 2.92969vh;
  color: #ffffff;
  margin-right: 7.1875vw;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.125vw;
}

.search svg {
  width: 1.125vw;
}

.search input {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  margin-left: 1.625vw;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-right: 2.125vw;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 2.44141vh;
  text-decoration: none;
  color: #ffffff;
}

.call {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 2.44141vh;
  margin-left: 12.1875vw;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 5.33333vmin;
  }
  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .burger {
    margin-right: 10.66667vmin;
  }
  .burger span {
    width: 4.8vmin;
    height: 0.53333vmin;
    border-radius: 0.8vmin;
  }
  .logo {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 5.33333vmin;
    line-height: 8vmin;
    margin-right: 30.66667vmin;
  }
  .search {
    margin-right: 13.33333vmin;
  }
  .search svg {
    width: 4.8vmin;
  }
  .search input {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 3.73333vmin;
    line-height: 8vmin;
    margin-left: 6.93333vmin;
  }
  .nav__item {
    margin-right: 9.06667vmin;
  }
  .nav__link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
  }
  .call {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
    margin-left: 2.32vmin;
  }
}

.footer {
  padding: 5.625vw 0 0;
}

.footer__logo {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: 1.875vw;
  color: #4D5E80;
  margin: 0;
}

.footer__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__reviews span {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 1.875vw;
  color: #7D8FB3;
  margin-right: 1.4375vw;
}

.footer__rating {
  margin-bottom: 1.25vw;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.footer-list__item {
  width: 33.33%;
  margin-bottom: 1.25vw;
}

.footer-list__link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #7D8FB3;
}

.footer__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4.0625vw;
}

.footer__rights {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #7D8FB3;
}

.footer__bottom {
  padding: 3vw 0 2.625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__bottom ul li {
  margin-left: 3.4375vw;
}

.footer__bottom ul a {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #7D8FB3;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 24vmin 0 0;
    text-align: center;
  }
  .footer__logo {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 6.4vmin;
    line-height: 8vmin;
    padding-bottom: 8vmin;
  }
  .footer__reviews span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 4.53333vmin;
    line-height: 8vmin;
    margin-right: 2.66667vmin;
  }
  .footer__rating {
    margin-bottom: 5.33333vmin;
  }
  .footer__rating img {
    width: 6.66667vmin;
  }
  .footer-list {
    padding-bottom: 8vmin;
  }
  .footer-list__item {
    margin-bottom: 5.33333vmin;
  }
  .footer-list__link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 4.53333vmin;
    line-height: 6.66667vmin;
  }
  .footer__row {
    padding-bottom: 17.33333vmin;
  }
  .footer__rights {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 4.53333vmin;
    line-height: 6.66667vmin;
  }
  .footer__bottom {
    display: block;
    text-align: center;
    padding: 12.8vmin 0 11.2vmin;
  }
  .footer__bottom ul li {
    margin-left: 14.66667vmin;
  }
  .footer__bottom ul a {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 4.53333vmin;
    line-height: 6.66667vmin;
  }
}

.hero {
  background: url("../img/herobg.png") no-repeat;
  background-size: cover;
  background-position: center -8.6875vw;
  height: 100vh;
  position: relative;
}

.hero__content {
  padding-top: 21.48438vh;
  max-width: 43.75vw;
  margin: 0 auto;
  text-align: center;
}

.hero__link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.95312vh;
  color: #ffffff;
  text-decoration: none;
  background-color: #E62E7B;
  border-radius: 2.92969vh;
  padding: 0.3125vw 1vw;
}

.hero__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 4vw;
  line-height: 8.78906vh;
  margin: 6.54297vh 0 6.64062vh;
  color: #ffffff;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 15.625vh;
}

.hero-list__item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  margin-right: 1.46484vh;
  color: #ffffff;
  position: relative;
}

.hero-list__item::after {
  content: "x";
  position: absolute;
  right: -1.07422vh;
}

.hero-list__item:last-child::after {
  display: none;
}

.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.hero-info__item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #ffffff;
  margin-right: 6.15234vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-info__item:last-child {
  margin-right: 0;
}

.hero-info__item img {
  margin-right: 2.5vw;
  width: 1.66016vh;
}

.hero__anchor {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #4D5E80;
  padding: 1.46484vh 2.92969vh;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0.97656vh 2.92969vh rgba(54, 61, 77, 0.25);
          box-shadow: 0px 0.97656vh 2.92969vh rgba(54, 61, 77, 0.25);
  border-radius: 2.92969vh;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .hero {
    background-position: center -8vmin;
  }
  .hero__content {
    padding-top: 58.66667vmin;
    max-width: 100%;
  }
  .hero__link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 3.2vmin;
    line-height: 5.33333vmin;
    border-radius: 8vmin;
    padding: 1.33333vmin 4.26667vmin;
  }
  .hero__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 13.33333vmin;
    line-height: 12vmin;
    margin: 8vmin 0 8vmin;
  }
  .hero-list {
    margin-bottom: 16vmin;
  }
  .hero-list__item {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.73333vmin;
    line-height: 8vmin;
    margin-right: 4vmin;
  }
  .hero-list__item::after {
    right: -2.93333vmin;
  }
  .hero-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero-info__item {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 4vmin;
    line-height: 6.66667vmin;
    margin: 0 0 5.33333vmin 9.33333vmin;
  }
  .hero-info__item img {
    margin-right: 5.33333vmin;
    width: 4.53333vmin;
  }
  .hero__anchor {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.73333vmin;
    line-height: 8vmin;
    bottom: 0;
    padding: 4vmin 8vmin;
    -webkit-box-shadow: 0 2.66667vmin 8vmin rgba(54, 61, 77, 0.25);
            box-shadow: 0 2.66667vmin 8vmin rgba(54, 61, 77, 0.25);
    border-radius: 8vmin;
  }
}

.about {
  color: #4D5E80;
  padding-top: 9.27734vh;
}

.about .row {
  margin: -0.9375vw;
}

.about-item {
  margin: 0.9375vw;
  padding: 3.75vw 3.375vw 2.375vw 3.0625vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px rgba(54, 61, 77, 0.03);
          box-shadow: 0 2px 5px rgba(54, 61, 77, 0.03);
  border-radius: 10px;
}

.about__content {
  text-align: center;
}

.about__card-title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 2.92969vh;
  text-align: center;
}

.about__card-text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 2.44141vh;
  color: #7D8FB3;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .about {
    padding-top: 25.33333vmin;
  }
  .about-item {
    margin: 4vmin;
    padding: 16vmin 14.4vmin 10.13333vmin 13.06667vmin;
  }
  .about__card-title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 4.26667vmin;
    line-height: 8vmin;
  }
  .about__card-text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 4.26667vmin;
    line-height: 6.66667vmin;
  }
}

.service {
  padding: 7.8125vw;
}

.service__row {
  position: relative;
  margin-bottom: 7.8125vw;
}

.service__row:last-child {
  margin-bottom: 0;
}

.service__row .bg-text {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  right: 0;
}

.service-item.service-item__image {
  position: relative;
  padding: 3.125vw;
  min-height: 21.875vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-item.service-item__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 21.875vw;
  z-index: -1;
  border-radius: 0.625vw;
}

.service-item.service-item__image .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E62E7B;
  border-radius: 30px;
  width: 3.75vw;
  height: 3.75vw;
  -webkit-box-shadow: 0 0.625vw 1.875vw #E62E7B;
          box-shadow: 0 0.625vw 1.875vw #E62E7B;
  cursor: pointer;
}

.service-item.service-item__image .play svg, .service-item.service-item__image .play svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service-item.service-item__image .play:hover {
  background: #ffffff;
  -webkit-box-shadow: 0 0.625vw 1.875vw #ffffff;
          box-shadow: 0 0.625vw 1.875vw #ffffff;
}

.service-item.service-item__image .play:hover svg path {
  fill: #E62E7B;
}

.service-item.service-item__image .play:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.service-item.service-item__image .service-item__subtitle {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 2.92969vh;
  color: #ffffff;
}

.service-item {
  padding: 3.90625vh 6.25vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service-item__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 3.75vw;
  color: #4D5E80;
}

.service-item__link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6b7a99;
}

.service-item__link svg {
  margin-left: 3.4375vw;
}

.service .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 3.125vw;
  right: 3.125vw;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  width: 3.75vw;
  height: 3.75vw;
  cursor: pointer;
}

.service .next svg {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.service .next:hover svg {
  -webkit-transform: translateX(0.3125vw);
          transform: translateX(0.3125vw);
}

@media screen and (max-width: 1024px) {
  .service {
    padding: 13.33333vmin 0;
  }
  .service__row {
    margin-bottom: 7.8125vw;
  }
  .service-item.service-item__image {
    padding: 2.66667vmin;
    min-height: 80vmin;
  }
  .service-item.service-item__image img {
    height: 93.33333vmin;
    border-radius: 2.66667vmin;
  }
  .service-item.service-item__image .play {
    width: 16vmin;
    height: 16vmin;
    -webkit-box-shadow: 0 2.66667vmin 8vmin #E62E7B;
            box-shadow: 0 2.66667vmin 8vmin #E62E7B;
  }
  .service-item.service-item__image .play:hover {
    -webkit-box-shadow: 0 2.66667vmin vmni(30) #ffffff;
            box-shadow: 0 2.66667vmin vmni(30) #ffffff;
  }
  .service-item.service-item__image .service-item__subtitle {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 4.26667vmin;
    line-height: 8vmin;
  }
  .service-item__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 9.6vmin;
    line-height: 16vmin;
  }
  .service-item__link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 4.26667vmin;
    line-height: 8vmin;
  }
  .service-item__link svg {
    margin-left: 14.66667vmin;
  }
  .service .next {
    bottom: vmni(50);
    right: 13.33333vmin;
    width: 16vmin;
    height: 16vmin;
  }
}

.catalog {
  text-align: center;
}

.catalog-item {
  position: relative;
  background-color: #ffffff;
  padding: 2vw 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-item__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #6b7a99;
}

.catalog-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.75vw;
  border: 0.125vw solid #f5f6f7;
}

.catalog-item__icon {
  position: absolute;
  right: 1.625vw;
  top: 1.625vw;
  cursor: pointer;
}

.catalog-item__rating {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-item__rating span {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #6b7a99;
}

.catalog-item__price {
  margin-top: -0.125vw;
  margin-bottom: -0.1875vw;
  width: 33.3%;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6b7a99;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border: 0.125vw solid #f5f6f7;
}

.catalog-item__buy {
  width: 33.3%;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  position: relative;
  color: #E62E7B;
  border: none;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
}

.catalog-item__buy::before {
  content: '';
  position: absolute;
  right: -100%;
  bottom: 0;
  background-color: #E62E7B;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.catalog-item__buy:hover {
  color: #ffffff;
}

.catalog-item__buy:hover::before {
  right: 0;
}

@media screen and (max-width: 1024px) {
  .catalog-item {
    padding: 8.53333vmin 0 0 0;
  }
  .catalog-item__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
  }
  .catalog-item__bottom {
    min-height: 16vmin;
  }
  .catalog-item__icon {
    right: 6.93333vmin;
    top: 6.93333vmin;
  }
  .catalog-item__rating span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
  }
  .catalog-item__price {
    margin-top: -0.53333vmin;
    margin-bottom: -0.8vmin;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
  }
  .catalog-item__buy {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
  }
}

.social {
  text-align: center;
  padding: 11.71875vh 0 12.20703vh;
}

.social .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.social .slick-prev.slick-arrow,
.social .slick-next.slick-arrow {
  position: absolute;
  left: 0;
  top: -10.625vw;
  width: 3.75vw;
  height: 3.75vw;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0.125vw 0.3125vw rgba(54, 61, 77, 0.05);
          box-shadow: 0px 0.125vw 0.3125vw rgba(54, 61, 77, 0.05);
  font-size: 0;
  background: #ffffff url("../img/arrow.svg") center center no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.social .slick-next.slick-arrow {
  left: auto;
  right: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.social-item {
  position: relative;
  padding: 0.9375vw;
}

.social-item__link {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5vw;
  height: 5vw;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7.5vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item:hover .social-item__link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 1024px) {
  social {
    padding: 32vmin 0 33.33333vmin;
  }
  social .slick-prev.slick-arrow,
  social .slick-next.slick-arrow {
    top: -45.33333vmin;
    width: 16vmin;
    height: 16vmin;
  }
  social-item {
    padding: 4vmin;
  }
  social-item__link {
    width: 21.33333vmin;
    height: 21.33333vmin;
  }
}

.location {
  margin-top: 12.20703vh;
}

.location .map {
  width: 69.375vw;
  height: 33.75vw;
}

.location ul {
  list-style: none;
}

.location__top {
  text-align: center;
}

.location__map {
  position: relative;
}

.location-modal {
  padding: 3.4375vw;
  position: absolute;
  right: 5%;
  bottom: 11%;
  background-color: #ffffff;
}

.location-modal img {
  width: 1.25vw;
  height: 1.25vw;
  margin-right: 2.25vw;
}

.location-modal__item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #6b7a99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.44141vh;
}

.location-modal__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
}

.location-modal__item:last-child span:first-child {
  color: #c3cad9;
}

.location-modal__item span + span {
  margin-left: 0.9375vw;
}

@media screen and (max-width: 1024px) {
  .location {
    margin-top: 33.33333vmin;
  }
  .location .map {
    width: 100%;
    height: 72vmin;
  }
  .location-modal {
    opacity: 0;
  }
}

body {
  margin: 0;
  font-family: 'SF Pro Display';
  background: #e5e5e5;
}

ul, h1, h2, p, div, span {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  border-color: #EDEFF2;
  margin: 0;
}

.container {
  max-width: 69.375vw;
  margin: 0 auto;
}

.bg-text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 12.5vw;
  line-height: 21.48438vh;
  position: absolute;
  left: 0;
  right: 0;
  color: #002881;
  opacity: 0.03;
  z-index: -1;
}

.title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25vw;
  line-height: 5.85938vh;
  margin: 6.34766vh 0 6.34766vh;
  color: #4D5E80;
}

.text {
  display: inline-block;
  width: 40vw;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  margin-bottom: 6.83594vh;
  color: #7D8FB3;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.badge {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.95312vh;
  padding: 0.48828vh 1.66016vh;
  border-radius: 2.92969vh;
  text-decoration: none;
  text-align: center;
}

.badge_pink {
  background: rgba(230, 46, 123, 0.1);
  color: #E62E7B;
}

.badge_orange {
  background: rgba(230, 46, 123, 0.1);
  color: #FF6633;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .bg-text {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 16vmin;
    line-height: 18.66667vmin;
  }
  .title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 9.6vmin;
    line-height: 16vmin;
    margin: 17.33333vmin 0 17.33333vmin;
  }
  .text {
    width: 100%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 3.73333vmin;
    line-height: 8vmin;
    margin-bottom: 18.66667vmin;
  }
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col-4, .col-3, .col-6 {
    width: 100%;
  }
  .badge {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 3.2vmin;
    line-height: 5.33333vmin;
    padding: 1.33333vmin 4.53333vmin;
    border-radius: 8vmin;
  }
}
/*# sourceMappingURL=index.css.map */