.footer {
    padding: vw(90) 0 0;
    &__logo {
        @include font(vw(24), 700, vw(30));
        color: $text-GrayBlue50;
        margin: 0;
    }
    &__reviews {
        display: flex;
        align-items: center;
        span {
            @include font(vw(14), 700, vw(30));
            color: $text-GrayBlue70; 
            margin-right: vw(23);
        }
    }
    &__rating {
        margin-bottom: vw(20);
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        &__item {
            width: 33.33%;
            margin-bottom: vw(20);
        }
        &__link {
            @include font(vw(13), 700, vw(25));
            color: $text-GrayBlue70;
        }
    }
    &__row {
        justify-content: space-between;
        padding-bottom: vw(65);
    }
    &__rights {
        @include font(vw(13), 700, vw(25));
        color: $text-GrayBlue70;
    }
    &__bottom {
        padding: vw(48) 0 vw(42);
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            list-style: none;
            li {
                margin-left: vw(55);
            }
            a {
                @include font(vw(13), 700, vw(25));
                color: $text-GrayBlue70;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: vmin(90) 0 0;
        text-align: center;
        &__logo {
            @include font(vmin(24), 700, vmin(30));
            padding-bottom: vmin(30);
        }
        &__reviews {
            span {
                @include font(vmin(17), 700, vmin(30)); 
                margin-right: vmin(10);
            }
        }
        &__rating {
            margin-bottom: vmin(20);
            img {
                width: vmin(25);
            }
        }
        &-list {
            padding-bottom: vmin(30);
            &__item {
                margin-bottom: vmin(20);
            }
            &__link {
                @include font(vmin(17), 700, vmin(25));
            }
        }
        &__row {
            padding-bottom: vmin(65);
        }
        &__rights {
            @include font(vmin(17), 700, vmin(25));
        }
        &__bottom {
            display: block;
            text-align: center;
            padding: vmin(48) 0 vmin(42);
            ul {
                li {
                    margin-left: vmin(55);
                }
                a {
                    @include font(vmin(17), 700, vmin(25));
                }
            }
        }
    }
}