$bg-white: #ffffff;
$text-white: #ffffff;
$text-GrayBlue50: #4D5E80;
$text-GrayBlue60: #6b7a99;
$text-GrayBlue70: #7D8FB3;
$text-GrayBlue85: rgba(195, 202, 217, 1);
$border-color: #f5f6f7;
$link-background: rgba(230, 46, 123, 0.1);
$link-text: #E62E7B;
$text-pink: #E62E7B;
$link-text__orange: #FF6633;
$bg-pink: #E62E7B;
$bg-orange: #FF6633;
$bg-body: #e5e5e5;



